@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
    url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /*
        display: flex;
    align-items: center;
     */
}

#ft1fondo{
    background-color: #00FF7F;
    color: white;
    padding: 30px 30px 30px 30px;
}

#ft1textfondo{
    padding: 45px 0px 45px 0px;
}


.textoCudadrado{
    font-size: 10pt;
}
.tituloCuadrado{
    font-size: 15pt;
    font-weight: bold;
}

#contenedor{
    width: 95%;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
    display: grid;
    grid-auto-columns: 510px 510px;
}

#contenedor div{

}

#contra{
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin: 0 auto;
}

.cuadrado{
    width: 550px;
    height: 600px;
    display: inline-block;
    margin: 0px;
    font-size: 1rem;
}

#imagenft1{
    position: relative;
    display: inline-block;
}

#plantacrecerft1{
    position: absolute;
    top: 52%;
    left: 82%;
    /*transform: translate(-50%, -50%);*/
}

#plantacrecer2ft1{
    position: absolute;
    top: 69.5%;
    left: 81.5%;
    /*transform: translate(-50%, -50%);*/
}


@keyframes mover{
    0%{
       width: 100px;
    }
    100%{
        width: 120px;
    }

}
/* FOTOGRAMA 2 */
#imagenft2{
    position: relative;
    display: inline-block;
}

#plantacrecer1ft2{
    position: absolute;
    top: 76%;
    left: 58%;
}
/******************************************************/
/********************* FOTOGRAMA 3 ********************/
/******************************************************/
#imagenft3{
    position: relative;
    display: inline-block;
}
#cuerpoFot3{
    position: absolute;
    top: 14%;
    left: 50%;
    z-index: 2;
}
#CarritoFot3{
    position: absolute;
    top: 15%;
    left: 67%;
}
#CostalesFot3{
    position: absolute;
    top: 62%;
    left: 45%;
}
#ManoUnoFot3{
    position: absolute;
    top: 27.3%;
    left: 62%;
    z-index: 1;
}
#ManoDosFot3{
    position: absolute;
    top: 27.3%;
    left: 57%;
    z-index: 3;
}

/******************************************************/
/********************* FOTOGRAMA 4 ********************/
/******************************************************/
#imagenft4{
    position: relative;
    display: inline-block;
}


#micanvas{
    border: solid 1px blue;
    width: 100%;
}
/*
@media only screen and (max-width: 1200px) {
    #micanvas {
        width: 95%;
        height: 95%;
    }
}
*/

/* Para px */
@media only screen and (max-width: 1500px) and (min-width: 981px) {
    #contra{
        background-color: orange;
    }
}
/* Para 960px */
@media only screen and (max-width: 980px) and (min-width: 821px) {
    #contra{
        background-color: purple;
    }
}

/* Para 800px */
@media only screen and (max-width: 820px) and (min-width: 621px) {
    #contra{
        background-color: red;
    }
}

/* Para 600px */
@media only screen and (max-width: 620px) and (min-width: 501px) {
    #contra{
        background-color: yellow;
    }
}

/* Para 480px */
@media only screen and (max-width: 500px) and (min-width: 341px) {
    #contra{
        background-color: green;
    }
}

/* Para 320px */
@media only screen and (max-width: 340px) and (min-width: 5px)  {
    #contra{
        background-color: pink;
    }
}




#TallosFot4{
    position:absolute;
    left:11%;
    top:48%;
    max-width: 80%;
}
#Planta1Fot4 {
    position: absolute;
    left: 33.5%;
    top: 30.1%;
    max-width: 80%;
    z-index: 2;
}
#Planta2Fot4{
    position: absolute;
    top: 10.2%;
    left: 41.5%;
    max-width: 80%;
    z-index: 1;
}
#Planta3AFot4{
    position: absolute;
    top: 49.7%;
    left: 18.5%;
    max-width: 80%;
    z-index: 1;
}
#Planta3BFot4{
    position: absolute;
    top: 65.5%;
    left: 13.7%;
    max-width: 80%;
    z-index: 1;
}
#Planta4AFot4{
    position: absolute;
    top: 66%;
    left: 67%;
    z-index: 1;
}
/******************************************************/
/********************* FOTOGRAMA 5 ********************/
/******************************************************/












.grid-container{
    display: grid;
    grid-template-columns: 1020px;
    justify-content: center;
}
.grid-container div{
    border: 0px;
}
.grid-sub-container{
    display: grid;
    grid-template-columns: 510px 510px;
    justify-content: center;
    background-color: blueviolet;
}

.img-puestas{
    position: absolute;
    max-width: 80%;
}