@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
    url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}
*{
    margin: 0;
    padding: 0;
    /*
    box-sizing: border-box;
     */
}
.textoCudadrado{
    font-size: 9pt;
}
.tituloCuadrado{
    font-size: 14pt;
    font-weight: bold;
}
/*
@keyframes mover{
    0%{
       width: 100px;
    }
    100%{
        width: 120px;
    }
}
*/
/* Para px */
@media only screen and (max-width: 1500px) and (min-width: 981px) {
    /*
    ***************************************************************************
    .grid-sub-container{
        background-color: orange !important;
    }
     */
}
/* Para 960px */
@media only screen and (max-width: 980px) and (min-width: 821px) {
    .grid-sub-container{
        background-color: purple !important;
    }
}
/* Para 800px */
@media only screen and (max-width: 820px) and (min-width: 621px) {
    .grid-sub-container{
        background-color: red !important;
    }
}

/* Para 600px */
@media only screen and (max-width: 620px) and (min-width: 501px) {
    .grid-sub-container{
        background-color: yellow !important;
    }
}

/* Para 480px */
@media only screen and (max-width: 500px) and (min-width: 341px) {

    .grid-sub-container{
        /*
        background-color: green !important;
         */
        display: grid !important;
        grid-template-columns: 490px !important;
        justify-content: center !important;
    }

    #sec1{
        height: 960px !important;

    }
    #sec2{
        height: 880px !important;
    }
    #sec3{
        height: 1100px !important;
    }
    #sec4{
        height: 1100px !important;
    }
    #sec5{
        height: 1100px !important;
    }
    #sec6{
        height: 1060px !important;
    }
    #sec7{
        height: 1060px !important;
    }
    #sec8{
        height: 1060px !important;
    }
    #sec9{
        height: 1060px !important;
    }
    #sec10{
        height: 1060px !important;
    }
    #sec11{
        height: 1060px !important;
    }
    #sec12{
        height: 1060px !important;
    }
    #sec13{
        height: 1060px !important;
    }
    #sec14{
        height: 1020px !important;
    }
    #sec15{
        height: 980px !important;
    }

    .grid-container{
        max-width: 471px !important;
    }
    /*
    .grid-sub-container{

        background-color: green !important;
    }
    #sec2{
        grid-column-start: 1 !important;
        max-height: 440px !important;
    }
    #sec2b{
        grid-column-start: 1 !important;
        max-height: 440px !important;
    }
     */
}
/* Para 320px */
@media only screen and (max-width: 340px) and (min-width: 5px)  {
    .grid-sub-container{
        background-color: pink !important;
    }
}

/*
.grid-sub-container{
    display: grid;
    grid-template-columns: 510px 510px;
    justify-content: center;
    background-color: blueviolet;
}
 */

#tierra62{
    opacity:0;
}

#barro73{
    opacity:0;
}

#persona83{
    opacity:0;
}

#fruto102{
    transform:rotate(-47deg);
    -ms-transform:rotate(-47deg); /* IE 9 en adelante*/
    -webkit-transform:rotate(-47deg);
}

.grid-container{
    width: 1020px;
    border: 0px;
    padding: 0px;
    justify-content: center;
}


.grid-container div{
    border: 0px;
}
.grid-sub-container{
    display: grid;
    grid-template-columns: 510px 510px;
    justify-content: center;
}
.img-puestas{
    position: absolute;
    max-width: 80%;
}

.img-puestas-100{
    position: absolute;
    max-width: 100%;
}

.img-puestas-50{
    position: absolute;
    max-width: 10%;
}