@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
    url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}

#ft1fondo{
    background-color: #00FF7F;
    color: white;
    padding: 30px 30px 30px 30px;
}

#ft1textfondo{
    padding: 45px 0px 45px 0px;
}


.textoCudadrado{
    font-size: 10pt;
}
.tituloCuadrado{
    font-size: 15pt;
    font-weight: bold;
}

#contenedor{
    width: 95%;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
}
.cuadrado{
    width: 550px;
    height: 600px;
    display: inline-block;
    margin: 0px;
    font-size: 1rem;
}



#imagenft1{
    position: relative;
    display: inline-block;
}

#plantacrecerft1{
    position: absolute;
    top: 52%;
    left: 82%;
    /*transform: translate(-50%, -50%);*/
}

#plantacrecer2ft1{
    position: absolute;
    top: 69.5%;
    left: 81.5%;
    /*transform: translate(-50%, -50%);*/
}


@keyframes mover{
    0%{
       width: 100px;
    }
    100%{
        width: 120px;
    }

}
/* FOTOGRAMA 2 */
#imagenft2{
    position: relative;
    display: inline-block;
}

#plantacrecer1ft2{
    position: absolute;
    top: 76%;
    left: 58%;
}
/******************************************************/
/********************* FOTOGRAMA 3 ********************/
/******************************************************/
#imagenft3{
    position: relative;
    display: inline-block;
}
#cuerpoFot3{
    position: absolute;
    top: 14%;
    left: 50%;
    z-index: 2;
}
#CarritoFot3{
    position: absolute;
    top: 15%;
    left: 67%;
}
#CostalesFot3{
    position: absolute;
    top: 62%;
    left: 45%;
}
#ManoUnoFot3{
    position: absolute;
    top: 27.3%;
    left: 62%;
    z-index: 1;
}
#ManoDosFot3{
    position: absolute;
    top: 27.3%;
    left: 57%;
    z-index: 3;
}

/******************************************************/
/********************* FOTOGRAMA 4 ********************/
/******************************************************/
#imagenft4{
    position: relative;
    display: inline-block;
}


#micanvas{
    border: solid 1px blue;
    width: 100%;
}
/*
@media only screen and (max-width: 1200px) {
    #micanvas {
        width: 95%;
        height: 95%;
    }
}
*/
#contra{
    max-width: 100%;
    max-height: 100%;
}
#TallosFot4{
    position:absolute;
    left:11%;
    top:48%;
    max-width: 80%;
}
#Planta1Fot4{
    position:absolute;
    left:35.4%;
    top:32.5%;
    max-width: 80%;
    /*
    position: absolute;
    top: 34.5%;
    left: 35.5%;
    z-index: 2;
     */
}
#Planta2Fot4{
    position: absolute;
    top: 16%;
    left: 52%;
    z-index: 1;
}
#Planta3AFot4{
    position: absolute;
    top: 53%;
    left: 31.6%;
}
#Planta3BFot4{
    position: absolute;
    top: 70%;
    left: 47%;
    z-index: -1;
}
#Planta4AFot4{
    position: absolute;
    top: 70.3%;
    left: 78.7%;
    z-index: -1;
}


