
@font-face {
    font-family: "Ludka Biniek";
    src: url('../fonts/Ludka Biniek - Geller Text Regular.otf'),
    url('../fonts/Ludka Biniek - Geller Text Bold.otf'),
    url('../fonts/Ludka Biniek - Geller Text Light Italic.otf'),
    url('../fonts/Ludka Biniek - Geller Text Light.otf'),
    url('../fonts/Ludka Biniek - Geller Text Regular Italic.otf'),
    url('../fonts/Ludka Biniek - Geller Headline Bold.otf');

}

@font-face{
    font-family: "Druk Heavy";
    src: url('../fonts/Druk-Heavy.otf');
}

*{
    margin: 0;
    padding: 0;
	box-sizing:border-box;
    /*
    box-sizing: border-box;
     */
}
.textoCudadrado{
    font-family: "Ludka Biniek";
    font-style: normal !important;
    font-size: 12pt;
	line-height: 14pt;
	box-sizing:border-box;
}
.tituloCuadrado{
    font-family: "Druk Heavy";
    font-size: 28pt;
    font-weight: bold;
	line-height: 28pt;
	box-sizing:border-box;
}

@media only screen and (max-width: 3500px) and (min-width: 1501px) {

    .grid-sub-container{
        /*
        background-color: deeppink !important;
         */
    }

    /* ------------------------------ANIMACIONES------------------------------ */
    /* ------------ Planta ------------ */
    #plan{
        width: 44px;
        height: 43px;
        animation: crescendo 1.8s alternate infinite ease-in;
    }
    @keyframes crescendo {
        0%   {transform: scale(.7);}
        100% {transform: scale(1.2);}
    }

    /* ------------ 1 ------------ */

    #Planta1Ft1 {
        animation: ft1-movi-1 2s alternate infinite ease-in;
    }

    @keyframes ft1-movi-1 {
        0%   {
            transform: scale(2);
            top: 46%;
        }
        100% {
            transform: scale(1);
            top: 50%;
        }
    }

    #Planta2Ft1 {
        animation: ft1-movi-2 2s alternate infinite ease-in;
    }

    @keyframes ft1-movi-2 {
        0%   {
            transform: scale(2);
            top: 60%;
        }
        100% {
            transform: scale(1);
            top: 64.5%;
        }
    }


    /* ------------ 2 ------------ */

    #plantaFt2{
        animation: ft2-movi-1 2s alternate infinite ease-in;
    }

    @keyframes ft2-movi-1 {
        0%   {
            transform: scale(2);
            /*
            top: 65.5%;
            left: 20.5%;
             */
        }
        100% {
            transform: scale(1);
            top: 70%;
            left: 20%;
        }
    }

    /* ------------ 3 ------------ */

    #mano1Ft3{
        animation: ft3-movi-1 2s alternate infinite ease-in;
    }
    #mano2Ft3{
        animation: ft3-movi-2 2s alternate infinite ease-in;
    }

    @keyframes ft3-movi-1 {
        0%   {
            transform: rotateZ(10deg);
            top: 33.4%;
            left: 34%;
        }
        100% {
            transform: rotateZ(1deg);
            top: 32.4%;
            left: 35%;
        }
    }
    @keyframes ft3-movi-2 {
        0%   {
            transform: skewX(20deg);
            transform: rotateZ(-12deg);
            top: 31%;
            left: 25.1%;
        }
        100% {
            transform: skewX(1deg);
            transform: rotateZ(1deg);
            top: 33%;
            left: 25.1%;
        }
    }

    /* ------------ 4 ------------ */

    #imgEst1Ft4{
        top:48%;
        left: 10%;
    }

    #PlantaGra1Ft4{
        top:29.5%;
        left: 34%;
        z-index: 2;
        animation: ft4-movi-1 2s alternate infinite ease-in;
    }
    #PlantaGra2Ft4{
        top:10%;
        left: 40.5%;
        z-index: 1;
        animation: ft4-movi-2 2s alternate infinite ease-in;
    }
    #Planta1Ft4{
        top:49.5%;
        left: 17.1%;
        animation: ft4-movi-3 2s alternate infinite ease-in;
    }
    #Planta2Ft4{
        top:65.8%;
        left: 12.8%;
        animation: ft4-movi-4 2s alternate infinite ease-in;
    }
    #Planta3Ft4{
        top:66%;
        left: 66%;
        animation: ft4-movi-5 2s alternate infinite ease-in;
    }

    @keyframes ft4-movi-1 {
        0%   {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft4-movi-2 {
        0%   {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft4-movi-3 {
        0%   {
            transform: rotateZ(8deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft4-movi-4 {
        0%   {
            transform: rotateZ(8deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft4-movi-5 {
        0%   {
            transform: rotateZ(8deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    /* ------------ 5 ------------ */

    #imgEst1Ft5{
        top:17%;
        left: 10%;
    }

    #arbolFt5{
        top:2.2%;
        left: 4.1%;
        animation: ft5-movi-1 2s alternate infinite ease-in;
    }
    #arboitoFt5{
        top:54%;
        left: 58.8%;
        animation: ft5-movi-2 2s alternate infinite ease-in;
    }
    #planta1Ft5{
        top:75%;
        left:46%;
        animation: ft5-movi-3 2s alternate infinite ease-in;
    }
    #planta2Ft5{
        top:75%;
        left: 79.7%;
        animation: ft5-movi-4 2s alternate infinite ease-in;
    }

    @keyframes ft5-movi-1 {
        0%   {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }
    @keyframes ft5-movi-2 {
        0%   {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }
    @keyframes ft5-movi-3 {
        0%   {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }
    @keyframes ft5-movi-4 {
        0%   {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }


    /* ------------ 6 ------------ */

    #imgEst1Ft6{
        top:30%;
        left: 2%;
        z-index: 2;
    }
    #brazo61{
        top:38.3%;
        left: 9.8%;
        z-index: 4;
        animation: ft6-movi-1 2s alternate infinite ease-in;
    }
    #brazo62{
        top:38.4%;
        left: 15.3%;
        z-index: 1;
        animation: ft6-movi-2 2s alternate infinite ease-in;
    }
    #tierra61{
        top:50%;
        left: 33%;
        z-index: 3;
        animation: ft6-movi-3 2s alternate infinite ease-in;
    }
    #tierra62{
        top:73%;
        left: 62%;
        z-index: 4;
        animation: ft6-movi-4 2s alternate infinite ease-in;
    }

    @keyframes ft6-movi-1 {
        0%   {
            transform: rotateZ(8deg);
            top: 41%;
            left: 7%;
        }
        100% {
            transform: rotateZ(1deg);
            top: 38.9%;
            left: 9.8%;
        }
    }

    @keyframes ft6-movi-2 {
        0%   {
            transform: rotateZ(8deg);
            top: 41.4%;
            left: 13.7%;
        }
        100% {
            transform: rotateZ(1deg);
            top: 38.4%;
            left: 15.3%;
        }
    }

    @keyframes ft6-movi-3 {
        0%   {
            transform: rotateZ(7deg);
            top: 64%;
            left: 59%;
            opacity: 0;
        }
        100% {
            transform: rotateZ(1deg);
            top: 50%;
            left: 33%;
            opacity: 1;
        }
    }

    @keyframes ft6-movi-4 {
        0%   {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    /* ------------ 7 ------------ */

    #imgEst1Ft7{
        top:26%;
        left: 10.3%;
        z-index: 2;
    }

    #brazo71{
        top:36.2%;
        left: 32.1%;
        z-index: 3;
        animation: ft7-movi-1 2s alternate infinite ease-in;
    }

    #brazo72{
        top:36%;
        left: 41.5%;
        z-index: 1;
        animation: ft7-movi-2 2s alternate infinite ease-in;
    }

    #barro74{
        top:65%;
        left: 59.3%;
        z-index: 5;
        animation: ft7-movi-3 2s alternate infinite ease-in;
    }

    #barro73{
        top:77.5%;
        left: 53%;
        z-index: 4;
        animation: ft7-movi-4 4s alternate infinite ease-in;
    }

    @keyframes ft7-movi-1 {
        0%   {
            transform: rotateZ(8deg);
            top: 38%;
            left: 30%;
        }
        100% {
            transform: rotateZ(1deg);
            top: 36.2%;
            left: 32.1%;
        }
    }

    @keyframes ft7-movi-2 {
        0%   {
            transform: rotateZ(8deg);
            left: 39.3%;
        }
        100% {
            transform: rotateZ(1deg);
            left: 41.5%;
        }
    }

    @keyframes ft7-movi-3 {
        0%   {
            top: 81%;
            left: 58%;
            opacity: 0;
        }
        100% {
            top: 65%;
            left: 59.3%;
            opacity: 1;
        }
    }

    @keyframes ft7-movi-4 {
        0%   {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    /* ------------ 8 ------------ */

    #imgEst1Ft8{
        top:40%;
        left: 10%;
    }

    #imgEst2Ft8{
        top:36.2%;
        left: 17%;
    }

    #persona81{
        top:35%;left: 38%;z-index: 2;
        animation: ft8-movi-1 2s alternate infinite ease-in;
    }
    #persona82{
        top:47.5%;left: 37%;z-index: 1;
        animation: ft8-movi-2 2s alternate infinite ease-in;
    }
    #persona83{
        top:66%;left: 39.5%;
        animation: ft8-movi-3 4s alternate infinite ease-in;
    }

    @keyframes ft8-movi-1 {
        0%   {
            transform: rotateZ(-12deg);
            top: 37%;
            left: 38.4%;
        }
        100% {
            transform: rotateZ(1deg);
            top: 35%;
            left: 38%;
        }
    }

    @keyframes ft8-movi-2 {
        0%   {
            top: 62%;
            left: 38%;
            opacity: 0;
        }
        100% {
            top: 47.5%;
            left: 37%;
            opacity: 1;
        }
    }

    @keyframes ft8-movi-3 {
        0%   {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    /* ------------ 9 ------------ */

    #imgEst1Ft9{
        top:26%;
        left: 10%;
        z-index: 4;
    }

    #imgEst2Ft9{
        top:35.2%;
        left: 82.3%;
        z-index: 6;
    }

    #brazo91{
        top:37%;
        left: 64%;
        z-index: 1;
        animation: ft9-movi-1 1s alternate infinite ease-in;
    }
    #brazo92{
        top:34%;
        left: 11%;
        z-index: 5;
        animation: ft9-movi-2 2s alternate infinite ease-in;
    }

    @keyframes ft9-movi-1 {
        0%   {
            transform: rotateZ(17deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft9-movi-2 {
        0%   {
            transform: rotateZ(6deg);
            top: 31%;
            left: 10%;
        }
        100% {
            transform: rotateZ(1deg);
            top: 34%;
            left: 11%;
        }
    }

    /* ------------ 10 ------------ */

    #imgEst1Ft10{
        top:20%;
        left: 12%;
        z-index: 4;
    }

    #fruto102{
        top:25.2%;
        left: 31%;
        z-index: 3;
        animation: ft10-movi-1 2s alternate infinite ease-in;
    }

    #fruto101{
        top:30%;
        left: 44%;
        z-index: 5;
        animation: ft10-movi-2 2s alternate infinite ease-in;
    }

    @keyframes ft10-movi-1 {
        0%   {
            transform: rotateZ(1deg);
            top: 31.5%;
            left: 29.5%;
        }
        100% {
            transform: rotateZ(-47deg);
            top: 25.2%;
            left: 31%;
        }
    }

    @keyframes ft10-movi-2 {
        0%   {
            top: 42.7%;
            left: 38%;
        }
        100% {
            top: 30%;
            left: 44%;
        }
    }

    /* ------------ 11 ------------ */

    #imgEst1Ft11{
        top:20%;
        left: 10%;
    }

    #imgEst2Ft11{
        top:36%;
        left: 44%;
    }

    #imgEst3Ft11{
        top:46.7%;
        left: 44%;
        z-index: 4;
    }

    #brazo111{
        top:42%;
        left: 24%;
        animation: ft11-movi-1 2s alternate infinite ease-in;
    }

    #brazo112{
        top:38.2%;
        left: 32.5%;
        animation: ft11-movi-2 2s alternate infinite ease-in;
    }

    #hoja113{
        top:50%;
        left: 43%;
        animation: ft11-movi-3 2s alternate infinite ease-in;
    }

    @keyframes ft11-movi-1 {
        0%   {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft11-movi-2 {
        0%   {
            transform: rotateZ(-10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft11-movi-3 {
        0%   {
            opacity: 0;
            top: 85%;
        }
        100% {
            opacity: 1;
            top: 50%;
        }
    }

    /* ------------ 12 ------------ */


    #imgEst1Ft12{
        top:20%;
        left: 10%;
    }

    #brazo121{
        max-width: 37%;
        top:27.5%;
        left: 43.8%;
        animation: ft12-movi-1 2s alternate infinite ease-in;
    }

    @keyframes ft12-movi-1 {
        0%   {
            transform: rotateZ(12deg);
            top:25%;
            left: 42.8%;
        }
        100% {
            transform: rotateZ(1deg);
            top:27.5%;
            left: 43.8%;
        }
    }

    /* ------------ 13 ------------ */

    #imgEst1Ft13{
        top:30%;
        left:10%;
        z-index: 4;
    }
    #imgEst2Ft13{
        top:25%;
        left: 23%;
        z-index: 1;
    }

    #maskagua131{
        max-width: 30%;
        top:27.4%;
        left:26.9%;
        z-index: 3;
        animation: ft13-movi-1 3s alternate infinite ease-in;
    }

    #maskagua132{
        max-width: 29%;
        top:41.1%;
        left:27.4%;
        z-index: 4;
        animation: ft13-movi-2 3s alternate infinite ease-in;
    }

    #maskagua133{
        max-width: 34%;
        top:58.5%;
        left:38.5%;
        z-index: 5;
        animation: ft13-movi-3 3s alternate infinite ease-in;
    }

    @keyframes ft13-movi-1 {
        100%   {
            transform: scale(1);
        }
        0% {
            transform: scale(0);
        }
    }

    @keyframes ft13-movi-2 {
        100%   {
            transform: scale(1);
        }
        0% {
            transform: scale(0);
        }
    }

    @keyframes ft13-movi-3 {
        100%   {
            transform: scale(1);
        }
        0% {
            transform: scale(0);
        }
    }

    /* ------------ 14 ------------ */

    #imgEst1Ft14{
        top:17%;
        left: 10%;
    }

    #brazo141{
        max-width: 19%;
        top:55.4%;
        left:56.2%;
        animation: ft14-movi-1 2s alternate infinite ease-in;
    }

    @keyframes ft14-movi-1 {
        0%   {
            transform: rotateZ(12deg);
            top: 54.4%;
            left: 55.7%;
        }
        100% {
            transform: rotateZ(1deg);
            top: 55.4%;
            left: 56.2%;
        }
    }

    /* ------------ 15 ------------ */

    #imgEst1Ft15{
        top:38%;
        left: 12%;
    }

    #humo151{
        top:22%;
        left:44%;
        animation: ft15-movi-1 2s alternate infinite ease-in;
    }

    @keyframes ft15-movi-1 {
        0%   {
            top: 10%;
            left: 44%;
            opacity: 0;
        }
        100% {
            top: 22%;
            left: 44%;
            opacity: 1;
        }
    }

}

/* Para px TABLETS Y MONITORES MEDIANOS */
@media only screen and (max-width: 1500px) and (min-width: 981px) {

    .grid-sub-container{
        /*
            background-color: orange !important;
         */
    }

    /* ------------------------------ANIMACIONES------------------------------ */
    /* ------------ Planta ------------ */
    #plan{
        width: 44px;
        height: 43px;
        animation: crescendo 1.8s alternate infinite ease-in;
    }
    @keyframes crescendo {
        0%   {transform: scale(.7);}
        100% {transform: scale(1.2);}
    }

    /* ------------ 1 ------------ */

    #Planta1Ft1 {
        animation: ft1-movi-1 2s alternate infinite ease-in;
    }

    @keyframes ft1-movi-1 {
        0%   {
            transform: scale(2);
            top: 46%;
        }
        100% {
            transform: scale(1);
            top: 50%;
        }
    }

    #Planta2Ft1 {
        animation: ft1-movi-2 2s alternate infinite ease-in;
    }

    @keyframes ft1-movi-2 {
        0%   {
            transform: scale(2);
            top: 60%;
        }
        100% {
            transform: scale(1);
            top: 64.5%;
        }
    }


    /* ------------ 2 ------------ */

    #plantaFt2{
        animation: ft2-movi-1 2s alternate infinite ease-in;
    }

    @keyframes ft2-movi-1 {
        0%   {
            transform: scale(2);
            /*
            top: 65.5%;
            left: 20.5%;
             */
        }
        100% {
            transform: scale(1);
            top: 70%;
            left: 20%;
        }
    }

    /* ------------ 3 ------------ */

    #mano1Ft3{
        animation: ft3-movi-1 2s alternate infinite ease-in;
    }
    #mano2Ft3{
        animation: ft3-movi-2 2s alternate infinite ease-in;
    }

    @keyframes ft3-movi-1 {
        0%   {
            transform: rotateZ(10deg);
            top: 33.4%;
            left: 34%;
        }
        100% {
            transform: rotateZ(1deg);
            top: 32.4%;
            left: 35%;
        }
    }
    @keyframes ft3-movi-2 {
        0%   {
            transform: skewX(20deg);
            transform: rotateZ(-12deg);
            top: 31%;
            left: 25.1%;
        }
        100% {
            transform: skewX(1deg);
            transform: rotateZ(1deg);
            top: 33%;
            left: 25.1%;
        }
    }

    /* ------------ 4 ------------ */

    #imgEst1Ft4{
        top:48%;
        left: 10%;
    }

    #PlantaGra1Ft4{
        top:29.5%;
        left: 34%;
        z-index: 2;
        animation: ft4-movi-1 2s alternate infinite ease-in;
    }
    #PlantaGra2Ft4{
        top:10%;
        left: 40.5%;
        z-index: 1;
        animation: ft4-movi-2 2s alternate infinite ease-in;
    }
    #Planta1Ft4{
        top:49.5%;
        left: 17.1%;
        animation: ft4-movi-3 2s alternate infinite ease-in;
    }
    #Planta2Ft4{
        top:65.8%;
        left: 12.8%;
        animation: ft4-movi-4 2s alternate infinite ease-in;
    }
    #Planta3Ft4{
        top:66%;
        left: 66%;
        animation: ft4-movi-5 2s alternate infinite ease-in;
    }

    @keyframes ft4-movi-1 {
        0%   {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft4-movi-2 {
        0%   {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft4-movi-3 {
        0%   {
            transform: rotateZ(8deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft4-movi-4 {
        0%   {
            transform: rotateZ(8deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft4-movi-5 {
        0%   {
            transform: rotateZ(8deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    /* ------------ 5 ------------ */

    #imgEst1Ft5{
        top:17%;
        left: 10%;
    }

    #arbolFt5{
        top:2.2%;
        left: 4.1%;
        animation: ft5-movi-1 2s alternate infinite ease-in;
    }
    #arboitoFt5{
        top:54%;
        left: 58.8%;
        animation: ft5-movi-2 2s alternate infinite ease-in;
    }
    #planta1Ft5{
        top:75%;
        left:46%;
        animation: ft5-movi-3 2s alternate infinite ease-in;
    }
    #planta2Ft5{
        top:75%;
        left: 79.7%;
        animation: ft5-movi-4 2s alternate infinite ease-in;
    }

    @keyframes ft5-movi-1 {
        0%   {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }
    @keyframes ft5-movi-2 {
        0%   {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }
    @keyframes ft5-movi-3 {
        0%   {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }
    @keyframes ft5-movi-4 {
        0%   {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }


    /* ------------ 6 ------------ */

    #imgEst1Ft6{
        top:30%;
        left: 2%;
        z-index: 2;
    }
    #brazo61{
        top:38.3%;
        left: 9.8%;
        z-index: 4;
        animation: ft6-movi-1 2s alternate infinite ease-in;
    }
    #brazo62{
        top:38.4%;
        left: 15.3%;
        z-index: 1;
        animation: ft6-movi-2 2s alternate infinite ease-in;
    }
    #tierra61{
        top:50%;
        left: 33%;
        z-index: 3;
        animation: ft6-movi-3 2s alternate infinite ease-in;
    }
    #tierra62{
        top:73%;
        left: 62%;
        z-index: 4;
        animation: ft6-movi-4 2s alternate infinite ease-in;
    }

    @keyframes ft6-movi-1 {
        0%   {
            transform: rotateZ(8deg);
            top: 41%;
            left: 7%;
        }
        100% {
            transform: rotateZ(1deg);
            top: 38.9%;
            left: 9.8%;
        }
    }

    @keyframes ft6-movi-2 {
        0%   {
            transform: rotateZ(8deg);
            top: 41.4%;
            left: 13.7%;
        }
        100% {
            transform: rotateZ(1deg);
            top: 38.4%;
            left: 15.3%;
        }
    }

    @keyframes ft6-movi-3 {
        0%   {
            transform: rotateZ(7deg);
            top: 64%;
            left: 59%;
            opacity: 0;
        }
        100% {
            transform: rotateZ(1deg);
            top: 50%;
            left: 33%;
            opacity: 1;
        }
    }

    @keyframes ft6-movi-4 {
        0%   {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    /* ------------ 7 ------------ */

    #imgEst1Ft7{
        top:26%;
        left: 10.3%;
        z-index: 2;
    }

    #brazo71{
        top:36.2%;
        left: 32.1%;
        z-index: 3;
        animation: ft7-movi-1 2s alternate infinite ease-in;
    }

    #brazo72{
        top:36%;
        left: 41.5%;
        z-index: 1;
        animation: ft7-movi-2 2s alternate infinite ease-in;
    }

    #barro74{
        top:65%;
        left: 59.3%;
        z-index: 5;
        animation: ft7-movi-3 2s alternate infinite ease-in;
    }

    #barro73{
        top:77.5%;
        left: 53%;
        z-index: 4;
        animation: ft7-movi-4 4s alternate infinite ease-in;
    }

    @keyframes ft7-movi-1 {
        0%   {
            transform: rotateZ(8deg);
            top: 38%;
            left: 30%;
        }
        100% {
            transform: rotateZ(1deg);
            top: 36.2%;
            left: 32.1%;
        }
    }

    @keyframes ft7-movi-2 {
        0%   {
            transform: rotateZ(8deg);
            left: 39.3%;
        }
        100% {
            transform: rotateZ(1deg);
            left: 41.5%;
        }
    }

    @keyframes ft7-movi-3 {
        0%   {
            top: 81%;
            left: 58%;
            opacity: 0;
        }
        100% {
            top: 65%;
            left: 59.3%;
            opacity: 1;
        }
    }

    @keyframes ft7-movi-4 {
        0%   {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    /* ------------ 8 ------------ */

    #imgEst1Ft8{
        top:40%;
        left: 10%;
    }

    #imgEst2Ft8{
        top:36.2%;
        left: 17%;
    }

    #persona81{
        top:35%;left: 38%;z-index: 2;
        animation: ft8-movi-1 2s alternate infinite ease-in;
    }
    #persona82{
        top:47.5%;left: 37%;z-index: 1;
        animation: ft8-movi-2 2s alternate infinite ease-in;
    }
    #persona83{
        top:66%;left: 39.5%;
        animation: ft8-movi-3 4s alternate infinite ease-in;
    }

    @keyframes ft8-movi-1 {
        0%   {
            transform: rotateZ(-12deg);
            top: 37%;
            left: 38.4%;
        }
        100% {
            transform: rotateZ(1deg);
            top: 35%;
            left: 38%;
        }
    }

    @keyframes ft8-movi-2 {
        0%   {
            top: 62%;
            left: 38%;
            opacity: 0;
        }
        100% {
            top: 47.5%;
            left: 37%;
            opacity: 1;
        }
    }

    @keyframes ft8-movi-3 {
        0%   {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    /* ------------ 9 ------------ */

    #imgEst1Ft9{
        top:26%;
        left: 10%;
        z-index: 4;
    }

    #imgEst2Ft9{
        top:35.2%;
        left: 82.3%;
        z-index: 6;
    }

    #brazo91{
        top:37%;
        left: 64%;
        z-index: 1;
        animation: ft9-movi-1 1s alternate infinite ease-in;
    }
    #brazo92{
        top:34%;
        left: 11%;
        z-index: 5;
        animation: ft9-movi-2 2s alternate infinite ease-in;
    }

    @keyframes ft9-movi-1 {
        0%   {
            transform: rotateZ(17deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft9-movi-2 {
        0%   {
            transform: rotateZ(6deg);
            top: 31%;
            left: 10%;
        }
        100% {
            transform: rotateZ(1deg);
            top: 34%;
            left: 11%;
        }
    }

    /* ------------ 10 ------------ */

    #imgEst1Ft10{
        top:20%;
        left: 12%;
        z-index: 4;
    }

    #fruto102{
        top:25.2%;
        left: 31%;
        z-index: 3;
        animation: ft10-movi-1 2s alternate infinite ease-in;
    }

    #fruto101{
        top:30%;
        left: 44%;
        z-index: 5;
        animation: ft10-movi-2 2s alternate infinite ease-in;
    }

    @keyframes ft10-movi-1 {
        0%   {
            transform: rotateZ(1deg);
            top: 31.5%;
            left: 29.5%;
        }
        100% {
            transform: rotateZ(-47deg);
            top: 25.2%;
            left: 31%;
        }
    }

    @keyframes ft10-movi-2 {
        0%   {
            top: 42.7%;
            left: 38%;
        }
        100% {
            top: 30%;
            left: 44%;
        }
    }

    /* ------------ 11 ------------ */

    #imgEst1Ft11{
        top:20%;
        left: 10%;
    }

    #imgEst2Ft11{
        top:36%;
        left: 44%;
    }

    #imgEst3Ft11{
        top:46.7%;
        left: 44%;
        z-index: 4;
    }

    #brazo111{
        top:42%;
        left: 24%;
        animation: ft11-movi-1 2s alternate infinite ease-in;
    }

    #brazo112{
        top:38.2%;
        left: 32.5%;
        animation: ft11-movi-2 2s alternate infinite ease-in;
    }

    #hoja113{
        top:50%;
        left: 43%;
        animation: ft11-movi-3 2s alternate infinite ease-in;
    }

    @keyframes ft11-movi-1 {
        0%   {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft11-movi-2 {
        0%   {
            transform: rotateZ(-10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft11-movi-3 {
        0%   {
            opacity: 0;
            top: 85%;
        }
        100% {
            opacity: 1;
            top: 50%;
        }
    }

    /* ------------ 12 ------------ */


    #imgEst1Ft12{
        top:20%;
        left: 10%;
    }

    #brazo121{
        max-width: 37%;
        top:27.5%;
        left: 43.8%;
        animation: ft12-movi-1 2s alternate infinite ease-in;
    }

    @keyframes ft12-movi-1 {
        0%   {
            transform: rotateZ(12deg);
            top:25%;
            left: 42.8%;
        }
        100% {
            transform: rotateZ(1deg);
            top:27.5%;
            left: 43.8%;
        }
    }

    /* ------------ 13 ------------ */

    #imgEst1Ft13{
        top:30%;
        left:10%;
        z-index: 4;
    }
    #imgEst2Ft13{
        top:25%;
        left: 23%;
        z-index: 1;
    }

    #maskagua131{
        max-width: 30%;
        top:27.4%;
        left:26.9%;
        z-index: 3;
        animation: ft13-movi-1 3s alternate infinite ease-in;
    }

    #maskagua132{
        max-width: 29%;
        top:41.1%;
        left:27.4%;
        z-index: 4;
        animation: ft13-movi-2 3s alternate infinite ease-in;
    }

    #maskagua133{
        max-width: 34%;
        top:58.5%;
        left:38.5%;
        z-index: 5;
        animation: ft13-movi-3 3s alternate infinite ease-in;
    }

    @keyframes ft13-movi-1 {
        100%   {
            transform: scale(1);
        }
        0% {
            transform: scale(0);
        }
    }

    @keyframes ft13-movi-2 {
        100%   {
            transform: scale(1);
        }
        0% {
            transform: scale(0);
        }
    }

    @keyframes ft13-movi-3 {
        100%   {
            transform: scale(1);
        }
        0% {
            transform: scale(0);
        }
    }

    /* ------------ 14 ------------ */

    #imgEst1Ft14{
        top:17%;
        left: 10%;
    }

    #brazo141{
        max-width: 19%;
        top:55.4%;
        left:56.2%;
        animation: ft14-movi-1 2s alternate infinite ease-in;
    }

    @keyframes ft14-movi-1 {
        0%   {
            transform: rotateZ(12deg);
            top: 54.4%;
            left: 55.7%;
        }
        100% {
            transform: rotateZ(1deg);
            top: 55.4%;
            left: 56.2%;
        }
    }

    /* ------------ 15 ------------ */

    #imgEst1Ft15{
        top:38%;
        left: 12%;
    }

    #humo151{
        top:22%;
        left:44%;
        animation: ft15-movi-1 2s alternate infinite ease-in;
    }

    @keyframes ft15-movi-1 {
        0%   {
            top: 10%;
            left: 44%;
            opacity: 0;
        }
        100% {
            top: 22%;
            left: 44%;
            opacity: 1;
        }
    }

}
    /* Para 960px */
@media only screen and (max-width: 980px) and (min-width: 821px) {
    .grid-sub-container{
    /*
        background-color: purple !important;
     */
    display: grid !important;
    grid-template-columns: 460px 460px !important;
    justify-content: center !important;
    }
    .grid-container{
        max-width: 920px !important;
    }
}
/* Para 800px */
@media only screen and (max-width: 820px) and (min-width: 621px) {
        .grid-sub-container{
        /*
        background-color: red !important;
         */
        display: grid !important;
        grid-template-columns: 380px 380px !important;
        justify-content: center !important;
    }
    .grid-container{
        max-width: 760px !important;
    }
    #sec1{
        height: 700px !important;
    }
}

/* Para 600px */
@media only screen and (max-width: 620px) and (min-width: 501px) {
    .grid-sub-container{
    /*
    background-color: yellow !important;
     */
}
}

/* Para 480px ----- CELULAR ----- */
@media only screen and (max-width: 500px) and (min-width: 341px) {

	#responsive-titulo{
		padding: 50px 50px 150px 50px !important;
	}
	.titulo{
		line-height: 55pt !important;
	}
	.subtitulo{
		margin-bottom: 10px !important;
	}
	.subtituloh4{
		margin-bottom: 10px !important;
	}
	.textoCudadrado{
		font-size: 17pt;
    	line-height: 20pt;
		
	}
	.tituloCuadrado{
		font-size: 35pt;
    	line-height: 30pt;
	}
	.respon-textito1{
		padding: 0px 20px !important;
	}
	.respon-textito2{
		padding: 0px 20px !important;
	}
	.imagen1{
		height: 380px !important;
	}
	.imagen2{
		height: 200px !important;
	}

    .grid-sub-container{
        /*
        background-color: green !important;
        */
        display: grid !important;
        grid-template-columns: 400px !important;
        justify-content: normal !important;
    }
    #idInicio{
        height: 270px !important;
    }

    #sec1{
        height: 1100px !important;
        max-width: 400px !important;
    }

    #sec2{
        height: 1000px !important;
        max-width: 400px !important;
    }



    /* ------------ 3 ------------ */

    #sec3{
        height: auto !important;
        max-width: 400px !important;
    }
    #sec3img{
        height: 550px !important;
    }
    #sec3img1{
        height: 1000px !important;
    }

    /* ------------ 4 ------------ */
    #sec4{
        height: auto !important;
        width: 400px !important;
    }
    #sec4img1{
        height: 550px !important;
    }
    #sec4img2{
        height: 850px !important;
    }

    /* ------------ 5 ------------ */
    #sec5{
        height: auto !important;
        max-width: 400px !important;
    }
    #sec5img1{
        height: 550px !important;
    }
    #sec5img2{
        height: 1150px !important;
    }

    /* ------------ 6 ------------ */
    #sec6{
        height: auto !important;
        max-width: 400px !important;
    }
    #sec6img1{
        height: 550px !important;
    }
    #sec6img2{
        height: 1050px !important;
    }

    /* ------------ 7 ------------ */
    #sec7{
        height: auto !important;
        max-width: 400px !important;
    }
    #sec7img1{
        height: 550px !important;
    }
    #sec7img2{
        height: 1200px !important;
    }

    /* ------------ 8 ------------ */
    #sec8{
        height: auto !important;
        max-width: 400px !important;
    }
    #sec8img1{
        height: 550px !important;
    }
    #sec8img2{
        height: 900px !important;
    }

    /* ------------ 9 ------------ */
    #sec9{
        height: auto !important;
        max-width: 400px !important;
    }
    #sec9img1{
        height: 550px !important;
    }
    #sec9img2{
        height: 1100px !important;
    }

    /* ------------ 10 ------------ */
    #sec10{
        height: auto !important;
        max-width: 400px !important;
    }
    #sec10img1{
        height: 550px !important;
    }
    #sec10img2{
        height: 900px !important;
    }


    /* ------------ 11 ------------ */
    #sec11{
        height: auto !important;
        width: 400px !important;
    }
    #sec11img1{
        height: 550px !important;
    }
    #sec11img2{
        height: 900px !important;
    }

    /* ------------ 12 ------------ */
    #sec12{
        height: auto !important;
        width: 400px !important;
    }
    #sec12img1{
        height: 550px !important;
    }
    #sec12img2{
        height: 980px !important;
    }

    /* ------------ 13 ------------ */
    #sec13{
        height: auto !important;
        max-width: 400px !important;
    }
    #sec13img1{
        height: 550px !important;
    }
    #sec13img2{
        height: 950px !important;
    }

    /* ------------ 14 ------------ */
    #sec14{
        height: auto !important;
        max-width: 400px !important;
    }
    #sec14img1{
        height: 550px !important;
    }
    #sec14img2{
        height: 750px !important;
    }

    /* ------------ 15 ------------ */
    #sec15{
        height: auto !important;
        max-width: 400px !important;
    }
    #sec15img1{
        height: 500px !important;
    }
    #sec15img2{
        height: 1060px !important;
    }

    .grid-container{
        max-width: 400px !important;
    }

    /*+++++ ANIMACIONES *****/
    /* ------------------------------ANIMACIONES------------------------------ */
    /* ------------ Planta ------------ */
    #plan{
        width: 44px;
        height: 43px;
        animation: crescendo 1.8s alternate infinite ease-in;
    }
    @keyframes crescendo {
        0%   {transform: scale(.7);}
        100% {transform: scale(1.2);}
    }

    /* ------------ 1 ------------ */

    #Planta1Ft1 {
        animation: ft1-movi-1 2s alternate infinite ease-in;
    }

    @keyframes ft1-movi-1 {
        0%   {
            transform: scale(2);
            top: 46%;
        }
        100% {
            transform: scale(1);
            top: 50%;
        }
    }

    #Planta2Ft1 {
        animation: ft1-movi-2 2s alternate infinite ease-in;
    }

    @keyframes ft1-movi-2 {
        0%   {
            transform: scale(2);
            top: 60%;
        }
        100% {
            transform: scale(1);
            top: 64.5%;
        }
    }


    /* ------------ 2 ------------ */

    #plantaFt2{
        width: 30px !important;
        top: 106%;
        left: 20%;
        animation: ft2-movi-1 2s alternate infinite ease-in;
    }

    @keyframes ft2-movi-1 {
        0%   {
            transform: scale(2);
            top: 94.5%;
            left: 20%;
        }
        100% {
            transform: scale(1);
            top: 106%;
            left: 20%;
        }
    }


    /* ------------ 3 ------------ */
    #img1Ft3{
        max-width: 50%;
        top:18% !important;
        left: 5% !important;
        z-index: 3 !important;
    }
    #img2Ft3{
        max-width: 50%;
    }
    #img3Ft3{
        max-width: 70%;
        top:75% !important;
        left: 10% !important;
    }

    #mano1Ft3{
        max-width: 50%;
        top: 31%;
        left: 34%;
        z-index: 2;
        animation: ft3-movi-1 2s alternate infinite ease-in;
    }
    #mano2Ft3{
        max-width: 50%;
        top:31%;
        left: 21%;
        z-index: 4;
        animation: ft3-movi-2 2s alternate infinite ease-in;
    }

    @keyframes ft3-movi-1 {
        0%   {
            transform: rotateZ(10deg);
            top: 33.4%;
            left: 34%;
        }
        100% {
            transform: rotateZ(1deg);
            top: 31%;
            left: 34%;
        }
    }
    @keyframes ft3-movi-2 {
        0%   {
            transform: skewX(20deg);
            transform: rotateZ(-12deg);
            top: 31%;
            left: 25.1%;
        }
        100% {
            transform: skewX(1deg);
            transform: rotateZ(1deg);
            top: 31%;
            left: 21%;
        }
    }

    /* ------------ 4 ------------ */
    #imgEst1Ft4{
        top:48%;
        left: 10%;
    }

    #PlantaGra1Ft4{
        top: 26.8%;
        left: 32%;
        z-index: 2;
        animation: ft4-movi-1 2s alternate infinite ease-in;
    }
    #PlantaGra2Ft4{
        top:10%;
        left: 40.5%;
        z-index: 1;
        animation: ft4-movi-2 2s alternate infinite ease-in;
    }
    #Planta1Ft4{
        top:46%;
        left: 17.1%;
        animation: ft4-movi-3 2s alternate infinite ease-in;
    }
    #Planta2Ft4{
        top:58.7%;
        left: 12.8%;
        animation: ft4-movi-4 2s alternate infinite ease-in;
    }
    #Planta3Ft4{
        top:58.7%;
        left: 65%;
        animation: ft4-movi-5 2s alternate infinite ease-in;
    }

    @keyframes ft4-movi-1 {
        0%   {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft4-movi-2 {
        0%   {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft4-movi-3 {
        0%   {
            transform: rotateZ(8deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft4-movi-4 {
        0%   {
            transform: rotateZ(8deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft4-movi-5 {
        0%   {
            transform: rotateZ(8deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    /* ------------ 5 ------------ */
    #imgEst1Ft5{
        top:17%;
        left: 10%;
    }
    #arbolFt5{
        max-width: 65%;
        top:2.2%;
        left: 4.1%;
        animation: ft5-movi-1 2s alternate infinite ease-in;
    }
    #arboitoFt5{
        max-width: 50%;
        top:43%;
        left: 56.8%;
        animation: ft5-movi-2 2s alternate infinite ease-in;
    }
    #planta1Ft5{
        top:64%;
        left:46%;
        animation: ft5-movi-3 2s alternate infinite ease-in;
    }
    #planta2Ft5{
        top:63%;
        left: 79%;
        animation: ft5-movi-4 2s alternate infinite ease-in;
    }

    @keyframes ft5-movi-1 {
        0%   {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }
    @keyframes ft5-movi-2 {
        0%   {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }
    @keyframes ft5-movi-3 {
        0%   {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }
    @keyframes ft5-movi-4 {
        0%   {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }


    /* ------------ 6 ------------ */
    #imgEst1Ft6{
        top:30%;
        left: 2%;
        z-index: 2;
    }

    #brazo61{
        max-width: 50%;
        top:36.9%;
        left: 9.8%;
        z-index: 4;
        animation: ft6-movi-1 2s alternate infinite ease-in;
    }
    #brazo62{
        max-width: 50%;
        top:36.5%;
        left: 15.3%;
        z-index: 1;
        animation: ft6-movi-2 2s alternate infinite ease-in;
    }
    #tierra61{
        max-width: 40%;
        top: 45%;
        left: 28%;
        z-index: 3;
        animation: ft6-movi-3 2s alternate infinite ease-in;
    }
    #tierra62{
        max-width: 30%;
        top:64%;
        left: 58%;
        z-index: 4;
        animation: ft6-movi-4 2s alternate infinite ease-in;
    }

    @keyframes ft6-movi-1 {
        100%   {
            transform: rotateZ(8deg);
            top: 39.5%;
            left: 8%;
        }
        0% {
            transform: rotateZ(1deg);
            top:36.9%;
            left: 9.8%;
        }
    }

    @keyframes ft6-movi-2 {
        100%   {
            transform: rotateZ(8deg);
            top: 38.8%;
            left: 13.3%;
        }
        0% {
            transform: rotateZ(1deg);
            top:36.4%;
            left: 15.3%;
        }
    }

    @keyframes ft6-movi-3 {
        100%   {
            transform: rotateZ(7deg);
            top: 62%;
            left: 59%;
            opacity: 0;
        }
        0% {
            transform: rotateZ(1deg);
            top: 45%;
            left: 28%;
            opacity: 1;
        }
    }

    @keyframes ft6-movi-4 {
        100%   {
            opacity: 1;
        }
        0% {
            opacity: 0;
        }
    }

    /* ------------ 7 ------------ */

    #imgEst1Ft7{
        top:26%;
        left: 10.3%;
        z-index: 2;
    }

    #brazo71{
        max-width: 40%;
        top:33.5%;
        left: 32.1%;
        z-index: 3;
        animation: ft7-movi-1 2s alternate infinite ease-in;
    }

    #brazo72{
        max-width: 10%;
        top:32.5%;
        left: 40%;
        z-index: 1;
        animation: ft7-movi-2 2s alternate infinite ease-in;
    }

    #barro73{
        max-width: 20%;
        top:72%;
        left: 53%;
        z-index: 4;
        animation: ft7-movi-4 4s alternate infinite ease-in;
    }

    #barro74{
        max-width: 10%;
        top:55%;
        left: 60%;
        z-index: 5;
        animation: ft7-movi-3 2s alternate infinite ease-in;
    }

    @keyframes ft7-movi-1 {
        100%   {
            transform: rotateZ(8deg);
            top: 35%;
            left: 30%;
        }
        0% {
            transform: rotateZ(1deg);
            top:33.5%;
            left: 32.1%;
        }
    }

    @keyframes ft7-movi-2 {
        100%   {
            transform: rotateZ(8deg);
            left: 39%;
        }
        0% {
            transform: rotateZ(1deg);
            top:32.5%;
            left: 40%;
        }
    }

    @keyframes ft7-movi-3 {
        100%   {
            top: 75%;
            left: 58%;
            opacity: 0;
        }
        0% {
            top: 55%;
            left: 60%;
            opacity: 1;
        }
    }

    @keyframes ft7-movi-4 {
        0%   {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    /* ------------ 8 ------------ */

    #imgEst1Ft8{
        top:40%;
        left: 10%;
    }

    #imgEst2Ft8{
        top:31%;
        left: 15%;
    }

    #persona81{
        max-width: 30%;
        top:36%;
        left: 40.4%;
        z-index: 2;
        animation: ft8-movi-1 2s alternate infinite ease-in;
    }
    #persona82{
        max-width: 10%;
        top:45.5%;
        left: 42%;
        z-index: 1;
        animation: ft8-movi-2 2s alternate infinite ease-in;
    }
    #persona83{
        max-width: 10%;
        top: 59.8%;
        left: 41%;
        animation: ft8-movi-3 2s alternate infinite ease-in;
    }

    @keyframes ft8-movi-1 {
        100%   {
            transform: rotateZ(-15deg);
            top: 38%;
            left: 41.5%;
        }
        0% {
            transform: rotateZ(1deg);
            top: 36%;
            left: 40.4%;
        }
    }

    @keyframes ft8-movi-2 {
        100%   {
            top: 57%;
            left: 41%;
            opacity: 0;
        }
        0% {
            top: 45.5%;
            left: 42%;
            opacity: 1;
        }
    }

    @keyframes ft8-movi-3 {
        100%   {
            opacity: 1;
        }
        0% {
            opacity: 0;
        }
    }

    /* ------------ 9 ------------ */

    #imgEst1Ft9{
        top:26%;
        left: 10%;
        z-index: 4;
    }

    #imgEst2Ft9{
        max-width: 10%;
        top:33%;
        left: 82.3%;
        z-index: 6;
    }

    #brazo91{
        top:32%;
        left: 64%;
        z-index: 1;
        animation: ft9-movi-1 2s alternate infinite ease-in;
    }
    #brazo92{
        top:32%;
        left: 11%;
        z-index: 5;
        animation: ft9-movi-2 2s alternate infinite ease-in;
    }


    @keyframes ft9-movi-1 {
        0%   {
            transform: rotateZ(17deg);
        }
        100% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft9-movi-2 {
        0%   {
            transform: rotateZ(6deg);
            top: 30%;
            left: 10%;
        }
        100% {
            transform: rotateZ(1deg);
            top: 32%;
            left: 11%;
        }
    }

    /* ------------ 10 ------------ */

    #imgEst1Ft10{
        top:20%;
        left: 12%;
        z-index: 4;
    }

    #fruto102{
        max-width: 15%;
        top:24.5%;
        left: 31%;
        z-index: 3;
        animation: ft10-movi-1 2s alternate infinite ease-in;
    }

    #fruto101{
        max-width: 5%;
        top:30%;
        left: 44%;
        z-index: 5;
        animation: ft10-movi-2 2s alternate infinite ease-in;
    }

    @keyframes ft10-movi-1 {
        100%   {
            transform: rotateZ(1deg);
            top: 28%;
            left: 28%;
        }
        0% {
            transform: rotateZ(-47deg);
            top: 24.5%;
            left: 31%;
        }
    }

    @keyframes ft10-movi-2 {
        100%   {
            top: 38%;
            left: 37%;
        }
        0% {
            top: 30%;
            left: 44%;
        }
    }

    /* ------------ 11 ------------ */

    #imgEst1Ft11{
        top:20%;
        left: 10%;
    }

    #imgEst2Ft11{
        max-width: 5%;
        top:34%;
        left: 44%;
    }

    #imgEst3Ft11{
        max-width: 1.5%;
        top: 39.7%;
        left: 43.4%;
        z-index: 4;
    }

    #brazo111{
        max-width: 25%;
        top:36.5%;
        left: 24%;
        animation: ft11-movi-1 2s alternate infinite ease-in;
    }

    #brazo112{
        max-width: 15%;
        top:33.5%;
        left: 33%;
        animation: ft11-movi-2 2s alternate infinite ease-in;
    }

    #hoja113{
        max-width: 1%;
        top:42%;
        left: 43%;
        animation: ft11-movi-3 2s alternate infinite ease-in;
    }

    @keyframes ft11-movi-1 {
        100%   {
            transform: rotateZ(5deg);
            top:36.5%;
            left: 24%;
        }
        0% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft11-movi-2 {
        100%   {
            transform: rotateZ(-5deg);
            top:33.5%;
            left: 33%;
        }
        0% {
            transform: rotateZ(1deg);
        }
    }

    @keyframes ft11-movi-3 {
        100%   {
            opacity: 0;
            top: 63%;
        }
        0% {
            opacity: 1;
            top:42%;
            left: 43%;
        }
    }

    /* ------------ 12 ------------ */

    #imgEst1Ft12{
        max-width: 70%;
        top:20%;
        left: 10%;
    }

    #brazo121{
        max-width: 33%;
        top:24.2%;
        left: 38.9%;
        animation: ft12-movi-1 2s alternate infinite ease-in;
    }
    @keyframes ft12-movi-1 {
        0%   {
            transform: rotateZ(7deg);
            top:23.2%;
            left: 38.1%;
        }
        100% {
            transform: rotateZ(1deg);
            top:24.2%;
            left: 38.9%;
        }
    }

    /* ------------ 13 ------------ */

    #imgEst1Ft13{
        top:30%;
        left:10%;
        z-index: 4;
    }

    #imgEst2Ft13{
        max-width: 30%;
        top:25%;
        left: 23%;
        z-index: 1;
    }

    #maskagua131{
        max-width: 23%;
        top:26.5%;
        left:26.5%;
        z-index: 3;
        animation: ft13-movi-1 3s alternate infinite ease-in;
    }

    #maskagua132{
        max-width: 27%;
        top:38.7%;
        left:28.5%;
        z-index: 4;
        animation: ft13-movi-2 3s alternate infinite ease-in;
    }

    #maskagua133{
        max-width: 33%;
        top:51.5%;
        left:39%;
        z-index: 5;
        animation: ft13-movi-3 3s alternate infinite ease-in;
    }

    @keyframes ft13-movi-1 {
        100%   {
            transform: scale(1);
            top: 26.5%;
        }
        0% {
            transform: scale(0);
            top:26.5%;
            left:26.5%;
        }
    }

    @keyframes ft13-movi-2 {
        100%   {
            transform: scale(1);
        }
        0% {
            transform: scale(0);
            top:38.7%;
            left:28.5%;
        }
    }

    @keyframes ft13-movi-3 {
        100%   {
            transform: scale(1);
        }
        0% {
            transform: scale(0);
            top:51.5%;
            left:39%;
        }
    }

    /* ------------ 14 ------------ */

    #imgEst1Ft14{
        top:17%;
        left: 10%;
    }

    #brazo141{
        max-width: 19%;
        top:45%;
        left:55.8%;
        animation: ft14-movi-1 2s alternate infinite ease-in;
    }

    @keyframes ft14-movi-1 {
        0%   {
            transform: rotateZ(12deg);
            top:44%;
            left:55.4%;
        }
        100% {
            transform: rotateZ(1deg);
            top:45%;
            left:55.8%;
        }
    }

    /* ------------ 15 ------------ */

    #imgEst1Ft15{
        max-width: 70%;
        top:38%;
        left: 12%;
    }
    #humo151{
        top:22%;
        left:41%;
        animation: ft15-movi-1 2s alternate infinite ease-in;
    }

    @keyframes ft15-movi-1 {
        100%   {
            top: 10%;
            left:41%;
            opacity: 0;
        }
        0% {
            top: 22%;
            left:41%;
            opacity: 1;
        }
    }

}

/* Para 320px */
@media only screen and (max-width: 340px) and (min-width: 5px)  {
    .grid-sub-container{
        /*
        background-color: pink !important;
         */
    }
}

#tierra62{
    opacity:0;
}

#barro73{
    opacity:0;
}

#persona83{
    opacity:0;
}

#fruto102{
    transform:rotate(-47deg);
    -ms-transform:rotate(-47deg); /* IE 9 en adelante*/
    -webkit-transform:rotate(-47deg);
}

.grid-container{
    width: 1020px;
    margin:0 auto;
    justify-content: center;

}


.grid-container div{
    border: 0px;
}
.grid-sub-container{
    display: grid;
    grid-template-columns: 510px 510px;
    justify-content: center;
}
.img-puestas{
    position: absolute;
    max-width: 80%;
}

.img-puestas-100{
    position: absolute;
    max-width: 100%;
}

.img-puestas-50{
    position: absolute;
    max-width: 10%;
}




